body,
.MuiDialog-paper {
  background-color: #F5F7E1 !important;
}

.tooltipPaper,
.MuiMenu-paper {
  background-color: #79d6c2 !important;
}

.MuiButtonBase-root {
  text-transform: unset !important;
}