body,
.MuiDialog-paper {
  background-color: #f5f7e1 !important;
}

.tooltipPaper,
.MuiMenu-paper {
  background-color: #79d6c2 !important;
}

.MuiButtonBase-root {
  text-transform: unset !important;
}

.MuiTooltip-tooltip {
  background-color: #79d6c2 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

body {
  overflow: hidden;
}
