body,
.MuiDialog-paper {
  background-color: #F5F7E1 !important;
}

.tooltipPaper,
.MuiMenu-paper {
  background-color: #79d6c2 !important;
}

.MuiButtonBase-root {
  text-transform: unset !important;
}

.MuiTooltip-tooltip {
  background-color: #79d6c2 !important;
  color: rgba(0, 0, 0, .87) !important;
}